# Block all .jpg and .png files
*.jpg
*.png
*.jpeg

# Allow .jpg and .png files inside any img folder
!**/img/**/*.jpg
!**/img/**/*.jpeg
!**/img/**/*.png

# Block dataset folder
dataset/

# Block virtual environment folder
.venv/

# Block python cache folder
__pycache__/