<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="manifest" href="{{ url_for('static', filename='manifest.webmanifest') }}">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    {% block styles %}
    {% for css in stylesheets %}
        <link rel="stylesheet" href="{{ url_for('static', filename='css/' + css + '.css') }}">
    {% endfor %}
    {% endblock %}
</head>

<body>
    {% block content %}{% endblock %}

    {% block scripts %}
    {% for js in scripts %}
        <script type="text/javascript" src="{{ url_for('static', filename='js/' + js + '.js') }}"></script>
    {% endfor %}
    {% endblock %}
</body>

</html>